/nbproject/private/

nbproject


*/bjs-watch/node_modules/chokidar/*
*/chokidar/*

*/colors/*
*/json-nice/*
*/rsyncwrapper/*
*/grunt/*

*.log


*/bjs-command/flow-cmd-transport/node_modules/*
*/bjs-command/flow-cmd-uglify/node_modules/*
*/bjs-command/flow-css-minify/node_modules/*


*/bjs-command/plugins/node_modules/*
*/bjs-command/node_modules/grunt/*
*/bjs-command/node_modules/clean-css/*
*/bjs-command/node_modules/cmd-util/*
*/bjs-command/node_modules/css/*
*/bjs-command/node_modules/less/*


*/bjs-command/plugins/flow-css-sprite/node_modules/*
*/bjs-command/plugins/css-less/node_modules/*


*/bjs-cmd-command/flow-cmd-transport/node_modules/*
*/bjs-cmd-command/flow-cmd-uglify/node_modules/*
*/bjs-cmd-command/flow-css-minify/node_modules/*


*/bjs-cmd-command/plugins/node_modules/*
*/bjs-cmd-command/plugins/css-less/node_modules/*
*/bjs-cmd-command/node_modules/grunt/*
*/bjs-cmd-command/node_modules/clean-css/*
*/bjs-cmd-command/node_modules/cmd-util/*
*/bjs-cmd-command/node_modules/css/*
*/bjs-cmd-command/node_modules/less/*


*/bjs-cmd-command/plugins/flow-css-sprite/node_modules/*