<!DOCTYPE html>
<html>
	<head>
		<title>bjs-demo</title>
		<script type="text/javascript" src="../../../../lib/sea/2.3.0/sea.js"></script>
		<script type="text/javascript" src="../../../../lib/sea/plugins/seajs-css.js"></script>
		<script type="text/javascript" src="../../../../lib/sea/seacss/seacss.js"></script>
		<script type="text/javascript" src="../../../../conf/conf.js"></script>
	</head>
	<body>
		<div class="main">
			<div>This is a demo for bjs(short for buildjs-plus)!</div>
			<a id="click" href="javascript:void(0)">click me</a>
			<img src="../../../widget/ipick.alert/img/ipick-alert-success.png"/>
		</div>
		<script type="text/javascript">
			seajs.use("app/index/js/index.js");
		</script>
	</body>
</html>